# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


Engine/.idea
Engine/cmake-build-laptopdebug
Engine/cmake-build-saberrelease
Engine/cmake-build-debug
Engine/cmake-build-saber
Engine/cmake-build-remote19
Engine/cmake-build-lab_19
Engine/cmake-build-remote25
*.DS_Store
.idea

Engine/kb.json
Engine/*.json
Engine/test.py
Engine/__pycache__
